<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="baidu-site-verification" content="chO9cDCggD"/>
    <meta charset="UTF-8">
    <title th:text="${title}">学无止境_海加尔金鹰个人博客</title>
    <meta name="keywords" content="hjljy,弋超帆个人博客,海加尔金鹰个人博客,弋超帆,海加尔金鹰"/>
    <meta name="description" content="海加尔金鹰个人博客。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/m.css" rel="stylesheet">
    <script src="../js/modernizr.js"></script>
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div class="tophead">
        <div class="logo"><a href="/">海加尔金鹰的个人博客</a></div>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/html/list.html">学无止境</a></li>
                <li><a href="/html/about.html">关于我</a></li>
            </ul>
        </div>
        <nav class="topnav" id="topnav">
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/html/list.html">学无止境</a></li>
                <li><a href="/html/about.html">关于我</a></li>
            </ul>
        </nav>
    </div>
</header>
<article>
    <h1 class="t_nav"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。 </span>
        <a href="/" class="n1">网站首页</a><a href="/html/list.html" class="n2">学无止境</a>
    </h1>
    <div class="blogs">
        <br>
        <div th:utext="${content}" class="news_infos">
        </div>
    </div>
    <div class="sidebar">

        <div class="about">
            <div class="avatar"><img src="images/avatar.jpg" alt=""></div>
            <p class="abname">海加尔金鹰</p>
            <p class="abposition">JAVA开发</p>
            <div class="abtext"> 一个90后的，爱玩游戏的，爱生活的，发际线慢慢上升的的后端开发人员</div>
        </div>

        <div class="search">
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字"
                       style="color: rgb(153, 153, 153);"
                       onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
                       onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="paihang" id="zhiding">
            <h2 class="hometitle">置顶文章</h2>

        </div
        <div class="cloud">
            <h2 class="hometitle">标签云</h2>
            <ul id="cloud" >
            </ul>
        </div>
>
        <div class="links">
            <h2 class="hometitle">友情链接</h2>

        </div>
    </div>
</article>
<footer>
    <p>Design by <a href="www.hjljy.cn">海加尔金鹰个人博客</a> <a href="/">蜀ICP备18038277号</a></p>
</footer>
<script src="../js/nav.js"></script>
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/blog.js"></script>
<script>
    $(function () {
        getBlogTags();
        getTop();
        getFriends();
    })

</script>
</body>
</html>
